<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }} - My Flask Application</title>
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
</head>

<body>
    <h1>{{ title }}</h1>
    <p> Welcome to Headwaze on Azure</p>
    <p> To get the time for waiting make requests like this: </p>
    <code>
        url:/host/chitown/distance_to_bus_ahead/average_velocity/
    </code>
    <p> eg. </p>
    <code>
        http://localhost:5555/chitown/10/20
    </code>
</body>

